body{
	margin: 0;
	padding: 0;
	top: 0;
	font-family: "Space Text"; 
}

h1 {
	position: absolute;
	font-size: 7vw;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(-10%, -50%);
}


h2{
	font-size: 2.5vw;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	margin-top: 50vh;
	margin-bottom: 50vh;
	margin-left: 100px; 
}

h3{
	font-size: 2vw;
	font-weight: normal;
	margin: 0;
	width: 100%;
	right: 0px;
}

figure{
	display: block;
	width: 100%;
	margin: 0;
}

figcaption{
	display: block;
	text-align: center;
}

img{
	width: 100%;
	height: 30vh;
	object-fit: contain;
	display: block;
	margin-bottom: 5px;
}


section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: auto;
}	

.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 25vw 25vw 25vw;
	grid-gap: 5vw;
	background-color: white;
	padding: 50px 0;

}
 article{
 	position: relative;
 	min-height: 100vh;
 	margin: 400px 100px; 
 }


 

.text{
	text-align: right;
	margin-bottom: 50px; 
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: blue;
}